@model fitapp.ViewModels.CalculatorViewModel
@{
    ViewBag.Title = "Kalkulator";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<h2>Kalkulator BMI</h2>

<div class="calc-info">
    Wypełnij poniższe dane aby obliczyć indeks BMI:
</div>

@using (@Html.BeginForm("IndexBmi", "Calculator"))
{
    <div class="form-container">
        <table class="form-table">
            <tr>
                <th>@Html.LabelFor(o => o.Height, "Wzrost:")</th>
                <td>@Html.TextBoxFor(o => o.Height, new { Class = "textbox" })</td>
                <td>@Html.ValidationMessageFor(o => o.Height)</td>
            </tr>
            <tr>
                <th>@Html.LabelFor(o => o.Weight, "Waga:")</th>
                <td>@Html.TextBoxFor(o => o.Weight, new { Class = "textbox" })</td>
                <td>@Html.ValidationMessageFor(o => o.Weight)</td>
            </tr>
            <tr>
                <td colspan="3" style="padding: 1em 0 0 0">
                    <input type="submit" value="Oblicz" class="calc-submit-link" />
                </td>
            </tr>
        </table>
    </div>
}

@if (Model.BMI.HasValue)
{
    <div class="calc-result">
        Twój indeks BMI wynosi: <span class="calc-result-color">@Model.BMI</span>
    </div>
}
