@model fitapp.ViewModels.CalculatorViewModel
@{
    ViewBag.Title = "IndexBmr";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<h2>Kalkulator PPM</h2>

@{
    var genders = new SelectList(
        new List<SelectListItem>
        {
            new SelectListItem {Selected = true, Text = "Kobieta", Value = "Female"},
            new SelectListItem {Selected = false, Text = "Mężczyzna", Value = "Male"},
                    }, "Value", "Text");
}

<div class="calc-info">
    Wypełnij poniższe dane aby obliczyć podstawowe zapotrzebowanie kaloryczne:
</div>

@using (@Html.BeginForm("IndexBmr", "Calculator"))
{
    <div class="form-container">
        <table class="form-table">
            <tr>
                <th>@Html.LabelFor(o => o.Age, "Wiek:")</th>
                <td>@Html.TextBoxFor(o => o.Age, new { Class = "textbox" })</td>
                <td>@Html.ValidationMessageFor(o => o.Age)</td>
            </tr>
            <tr>
                <th>@Html.LabelFor(o => o.Height, "Wzrost:")</th>
                <td>@Html.TextBoxFor(o => o.Height, new { Class = "textbox" })</td>
                <td>@Html.ValidationMessageFor(o => o.Height)</td>
            </tr>
            <tr>
                <th>@Html.LabelFor(o => o.Weight, "Waga:")</th>
                <td>@Html.TextBoxFor(o => o.Weight, new { Class = "textbox" })</td>
                <td>@Html.ValidationMessageFor(o => o.Weight)</td>
            </tr>
            <tr>
                <th>@Html.LabelFor(o => o.Gender, "Płeć:")</th>
                <td>@Html.DropDownListFor(o => o.Gender, genders, new { Class = "dropdown-list" }) </td>
                <td>@Html.ValidationMessageFor(o => o.Gender)</td>
            </tr>
            <tr>
                <td colspan="3" style="padding: 1em 0 0 0">
                    <input type="submit" value="Oblicz" class="calc-submit-link" />
                </td>
            </tr>
        </table>
    </div>
}

@if (Model.BMR.HasValue)
{
    <div class="calc-result">
        Twoje podstawowe zapotrzebowanie kaloryczne wynosi: <span class="calc-result-color">@Model.BMR<text> kcal</text></span>
    </div>
}