@model fitapp.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<h2>Rejestracja</h2>

<div class="form-container">
    @using (Html.BeginForm("Register", "Account"))
    {
        @Html.AntiForgeryToken()

        <div class="login-error">
            @Html.ValidationMessage("loginerror", "")
            @Html.ValidationSummary()
        </div>

        <table class="form-table">
            <tr>
                <td>
                    @Html.LabelFor(o => o.Email, "E-mail: ")
                </td>
                <td>
                    @Html.TextBoxFor(o => o.Email, new { Class = "textbox" })
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(o => o.Email)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(o => o.Password, "Hasło: ")
                </td>
                <td>
                    @Html.PasswordFor(o => o.Password, new { Class = "textbox", Textmode = "Password" })
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(o => o.Password)
                    </div>
                </td>
                @*<td></td>*@
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(o => o.ConfirmPassword, "Potwierdź hasło: ")
                </td>
                <td>
                    @Html.PasswordFor(o => o.ConfirmPassword, new { Class = "textbox", Textmode = "Password" })
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(o => o.ConfirmPassword)
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="padding: 2.5em 0 0 0">
                    <input class="submit-link" type="submit" value="Zarejestruj się" />
                </td>
            </tr>
        </table>
    }

    <div class="link">
        <a href="@Url.Action("Login")">Masz juz konto? Zaloguj się!</a>
    </div>
</div>

@section ScriptsBottom
{
    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}

